name: {{ plugin_name }}
display_name: {{ display_name }}
desc: {{ description }}
version: {{ version }}
author: {{ author }}
repo: https://github.com/XTsat/{{ plugin_name }}
tags:
  - 标签1
  - 标签2
platform:
  - aiocqhttp
  - wechatpadpro
  - telegram
  - discord